#meme-image-container {
  background-color:white;
  height: 400px;
  width: 400px;
  border: solid 1px black;
  background-size: 100%;
}

#meme-image-container #fire {
  border: 3px dashed red;
}

#meme-image-container #water {
  border: 5px double blue;
}

#meme-image-container #earth {
  border: 6px groove green;
}

#meme-text {
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white  ;
}
