#meme-image {
  width: 400px;
  height: 550px;
  position: absolute;
}

#meme-text {
  border: solid black;
  height: 50px;
  width: 300px;
  position:relative;
  text-shadow:black 5px 5px 5px;
  font-size: 30px;
  color: white;
}
#meme-image-container {
  border: solid black 1px;
  background-color: white;
  width: 400px;
  height: 550px;
}