#meme-image-container{
  border: 1px solid black;
  width: 600px;
  height: 400px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
}

#meme-text{
  position:relative;
  text-shadow:black 5px 5px 5px;
  font-size: 30px;
  color: white;
}

img{
  width: 600px;
  height: 400px;
  position: absolute;
}

